.well{
	margin-left: 17%;
}

.CategoryContentInside{
	margin-left: 17%;
}

.CategoryBarInside{
	margin-left: 17%;
}

.row_title{
	font-family: courier;
	font-size: 15px;
}

.row_val{
	font-family: comic;
}

.modal_body{
	margin-left: 20%;
}